body {
	background: #404040;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

#filter-group {
	float: left;
	border: 3px solid red;
	position: absolute;
	left: 10%;
	top: 5%;
	bottom: 80%;
	width: 50%;
	color: white;
	overflow: scroll;
}
#map {
	float: left;
	border: 3px solid blue;
	position: absolute;
	left: 10%;
	top: 25%;
	bottom: 7.5%;
	width: 50%;
	color: white;
}
#popup-window {
	float: left;
	position: absolute;
	top: 5%;
	bottom: 7.5%;
	width: 25%;
	right: 10%;
	border: 3px solid black;
	color: white;
	overflow: scroll;
}
.mapboxgl-popup {
	padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
	display: none;
}

.mapboxgl-popup-content {
	font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
	padding: 0;
	width: 250px;
}

.mapboxgl-popup-content-wrapper {
	padding: 1%;
}

.mapboxgl-popup-content h3 {
	background: rgb(61, 59, 59);
	text-align: center;
	color: #fff;
	margin: 0;
	display: block;
	padding: 15px;
	font-weight: 700;
	margin-top: -5px;
}

.mapboxgl-popup-content h4 {
	margin: 0;
	display: block;
	padding: 10px 3px 10px 10px;
	font-weight: 400;
}

.mapboxgl-container {
	cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
	margin-top: 3px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
	border-bottom-color: rgb(61, 59, 59);
}
.filter-group {
	display: block;
	padding: 8px;
	background-color: #dddddd;
}

.filter-group input[type='checkbox']:first-child + label {
	border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
	border-radius: 0 0 3px 3px;
	border: none;
}

.filter-group input[type='checkbox'] {
	display: none;
}

.filter-group input[type='checkbox'] + label {
	background-color: #471704;
	display: block;
	float: left;
	cursor: pointer;
	padding: 5px;
	margin-inline: 5px 5px 5px;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	width: 10%;
}

.filter-group input[type='checkbox'] + label {
	background-color: #471704;
	text-transform: capitalize;
}

.filter-group input[type='checkbox'] + label:hover,
.filter-group input[type='checkbox']:checked + label {
	background-color: green;
}

.filter-group input[type='checkbox']:checked + label:before {
	content: '✔';
	margin-right: 5px;

	margin-bottom: 10 px;
}
